.filmCardLayout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.poster{
  object-fit: cover;
  aspect-ratio: 2/3;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
}

.cardSpan {
  color: var(--color-grey);
  width: 160px;
  display: block;
}


.infoListItem {
  display: flex;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
  flex-grow: 2;
}

.shareButton {
  width: max-content;
}
