.homePage {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  position: relative;

  @media (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}

.filterButton {
  display: none !important;
  @media (max-width: 860px) {
    display: block !important;
    flex-shrink: 0 !important;
  }
}

.homePageInner {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loadingOverlay {
  position: absolute;
  top: 0px;
  left: -5px;
  bottom: 0px;
  right: 0px;
  background: #fff;
  opacity: 0.8;
  z-index: 20;
}
